# Maven/Gradle output
target/
build/
out/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Eclipse/NetBeans
.project
.classpath
.settings/
.nbproject/

# Logs, temp files
*.log
*.tmp
*.temp

# Gradle cache
.gradle/

# Maven Wrapper cache
.mvn/wrapper/maven-wrapper.jar

# Environment / Secret files
.env
*.key
*.pem
application.properties
application.yml


### VS Code ###
.vscode/

### Mac OS ###
.DS_Store